In [3]:
#import dependencies 
import pandas as pd
from pathlib import Path

In [4]:
#read csv
asx_df = pd.read_csv('Resources/ASX_Listed_Companies_02-11-2023.csv')
asx_df.head()

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,8574067
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,10184494
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,17906374
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,4875868
4,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",01/09/2004,21264623

In [5]:
#re-name columns 
asx_df.columns = ['ticker', 'company_name', 'industry_gp', 'listing_date', 'market_cap']
asx_df

,ticker,company_name,industry_gp,listing_date,market_cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,8574067
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,10184494
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,17906374
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,4875868
4,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",01/09/2004,21264623
...,...,...,...,...,...
2028,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,10325911
2029,ZMI,ZINC OF IRELAND NL,Materials,18/09/2007,3197164
2030,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,4321596
2031,ZNC,ZENITH MINERALS LIMITED,Materials,29/05/2007,28895232
2032,ZNO,ZOONO GROUP LIMITED,Materials,21/07/1988,10066167

In [6]:
#check data types for columns
# asx_df.info()
#Drop the market_cap values 'suspended'
asx_df['market_cap'] = pd.to_numeric(asx_df['market_cap'], errors='coerce') #convert to numeric and coerce other non numeric to NaN
asx_df = asx_df.dropna(subset=['market_cap']) # drop all NaN values in market_cap
asx_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940 entries, 0 to 2032
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ticker        1940 non-null   object
 1   company_name  1940 non-null   object
 2   industry_gp   1940 non-null   object
 3   listing_date  1940 non-null   object
 4   market_cap    1940 non-null   float64
dtypes: float64(1), object(4)
memory usage: 90.9+ KB

In [7]:
#drop the listing_date column 
asx_df = asx_df.drop('listing_date', axis=1)
asx_df

,ticker,company_name,industry_gp,market_cap
0,14D,1414 DEGREES LIMITED,Capital Goods,8574067.0
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",10184494.0
2,1AE,AURORA ENERGY METALS LIMITED,Materials,17906374.0
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",4875868.0
4,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",21264623.0
...,...,...,...,...
2028,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",10325911.0
2029,ZMI,ZINC OF IRELAND NL,Materials,3197164.0
2030,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,4321596.0
2031,ZNC,ZENITH MINERALS LIMITED,Materials,28895232.0
2032,ZNO,ZOONO GROUP LIMITED,Materials,10066167.0

In [8]:
#count inicidences of Industry Group
industry_count = asx_df['industry_gp'].value_counts()
industry_count

Materials                                         774
Energy                                            129
Software & Services                               122
Financial Services                                106
Not Applic                                         84
Health Care Equipment & Services                   83
Pharmaceuticals, Biotechnology & Life Sciences     82
Capital Goods                                      80
Commercial & Professional Services                 54
Consumer Services                                  49
Food, Beverage & Tobacco                           46
Equity Real Estate Investment Trusts (REITs)       45
Consumer Discretionary Distribution & Retail       45
Media & Entertainment                              44
Technology Hardware & Equipment                    28
Transportation                                     26
Real Estate Management & Development               24
Utilities                                          20
Telecommunication Services                         17
Consumer Durables & Apparel                        15
Banks                                              14
Insurance                                          13
Household & Personal Products                      11
Automobiles & Components                           10
Class Pend                                          7
Semiconductors & Semiconductor Equipment            6
Consumer Staples Distribution & Retail              6
Name: industry_gp, dtype: int64

In [9]:
#check top 10 for each industry group 
#sort by ind_gp and market cap in descending order. 
asx_df.sort_values(by=['industry_gp', 'market_cap'], ascending=[True, False], inplace=True)

#group by 'industry_gp' 
top_tickers_by_industry = asx_df.groupby('industry_gp').head(10)
top_ten_df = top_tickers_by_industry
top_ten_df

,ticker,company_name,industry_gp,market_cap
181,ARB,ARB CORPORATION LIMITED.,Automobiles & Components,2.455925e+09
852,GUD,G.U.D. HOLDINGS LIMITED,Automobiles & Components,1.534343e+09
1510,PWH,PWR HOLDINGS LIMITED,Automobiles & Components,1.000822e+09
1658,SFC,SCHAFFER CORPORATION LIMITED,Automobiles & Components,2.272901e+08
95,AHL,ADRAD HOLDINGS LIMITED,Automobiles & Components,7.275023e+07
...,...,...,...,...
424,CEN,CONTACT ENERGY LIMITED,Utilities,5.638375e+09
823,GNE,GENESIS ENERGY LIMITED,Utilities,2.267491e+09
549,D2O,DUXTON WATER LIMITED,Utilities,2.519890e+08
827,GNX,GENEX POWER LIMITED,Utilities,2.077766e+08
1081,LGI,LGI LIMITED,Utilities,1.792364e+08